:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 200, 200, 200;
  --modal-background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --modal-background-rgb: 40, 40, 40;
  }
}

html,
body {
  font-size: 12px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@media screen and (min-width: 500px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 780px) {
  html,
  body {
    font-size: 16px;
  }
}
